<!DOCTYPE html>

<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Excluir Usuário</title>
        <link rel="stylesheet" href="../css/estilo.css">
    </head>

    <body>
        <header id="header">
            <nav class="container">
                <a class="logo" href="#">Dev<span>Jobs</span></a>
            </nav>
        </header>

        <div class="loginBox">

            <section class="section">

                <div class="container grid">

                    <form action = "../../Back-end/Controller/consultarJob.php" method = "POST" autocomplete = "off">
                        <br>
                        <br>
                        <h1>Consultar Job</h1>
                        <p>Informe o nome do Job que você deseja consultar.</p>
                        <br>

                        <div class="userBox">
                            <label for = "jobNome">Nome do Job:</label>
                            <br>
                            <br>
                            <input type = "text" name = "jobNome">
                            <br>
                        </div>

                        <div class = 'userBox'>
                            <br>
                            <button class='button' type='submit'>Consultar</button>
                            <br>
                        </div>

                    </form>

                </div>

            </section>

        </div>

    </body>

</html>
