<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <!-- PAGE INFO -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DevJobs</title>
        <!-- STYLES -->
        <link rel="stylesheet" href="../css/estilo.css" />
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap"
        rel="stylesheet" />
    </head>
    <body>
        <header id="header">
            <nav class="container">
                <a class="logo" href="#">Dev<span>Jobs</span></a>
            </nav>
        </header>
        <main>
            <div class="loginBox">
                <section class="section" id="about">
                    <div class="container grid">
                        <div class="text">
                            <br>
                            <h2 class="title">Nome Vaga 1</h2>
                            <p>
                                Sobre a vaga.
                            </p>
                            <br/>
                        </div>
                    </div>
                </section>
                <div class="divider-2"></div>

                <section class="section">
                    <div class="container grid">
                        
                    </div>
                </section>
            </div>
            <br>
            <br>
            <img src="../images/image-background-green.jpeg" class="background">
        </main>
    </body>
</html>