<!DOCTYPE html>

<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aplicações | DevJobs</title>
        <link rel="stylesheet" href="../css/estilo.css">
    </head>

    <body>
        <main>
            <header id="header">
                <nav class="container">
                    <a class="logo" href="#">Dev<span>Jobs</span></a>
                </nav>
            </header>

            <div class = "loginBox">

                <section class = "section">

                    <div class = "container grid">

                        <form>

                            <div class="buttons">
                                <h1>Aplicações</h1>
                                <a href = "../../Back-end/Controller/jobsDisponiveis.php" class = "button" type = "button">Aplicar para Jobs</a>
                                <!--Botao de Contratante-->
                                <br>
                                <br>
                                <a href = "excluirAplicacao.html" class = "button" type = "button">Excluir Aplicação</a>
                                <br>
                                <br>
                                <a href = "alterarAplicacao.html" class = "button" type = "button">Alterar Aplicação</a>
                                <br>
                                <br>
                                <a href = "../../Back-end/Controller/consultarTodasAplicacoesFuncionario.php" class = "button" type = "button">Consultar Aplicações</a>
                                <br>
                                <br>
                                <a href = "paginaInicialFuncionario.html" class = "button" type="button">Voltar</a>
                            </div>

                        </form>

                    </div>

                </section>

            </div>

            <img src="../images/image-background-green.jpeg" class="background">

        </main>

    </body>

</html>
