<!DOCTYPE html>

<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aplicar Currículo</title>
        <link rel="stylesheet" href="../css/estilo.css">
    </head>

    <body>
        <header id="header">
            
            <nav class="container">
                <a class="logo" href="#">Dev<span>Jobs</span></a>
            </nav>

        </header>

        <div class="loginBox">

            <section class="section">

                <div class="container grid">

                    <form action = "#" method = "POST" autocomplete = "off">
                        <br>
                        <br>
                        <h1>Aplicar Currículo</h1>
                        <p>Informe o currículo que você deseja usar para aplicar sua candidatura a esta vaga:</p>
                        <br>

                        <div class="userBox">
                            <label for = "curriculoNome">Nome do Currículo:</label>
                            <br>
                            <br>
                            <input type = "text" name = "curriculoNome">
                            <br>
                        </div>

                        <div class="userBox">
                            <label for = "curriculoNome">Motivo:</label>
                            <br>
                            <br>
                            <textarea name = "curriculoNome"></textarea>
                            <br>
                        </div>

                        <div class = 'userBox'>
                            <br>
                            <button class='button' type='submit'>Consultar</button>
                            <br>
                        </div>

                        <div class = "userBox">
                            <br>
                            <a href = "../../index.html" class = "button" type = "button">Voltar</a>
                        </div>

                    </form>

                </div>

            </section>

        </div>

        <img src="../images/image-background-green.jpeg">

    </body>

</html>
