<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cadastre-se</title>
        <link rel="stylesheet" href="../css/estilo.css">
    </head>
    <body>
        <header id="header">

            <nav class="container">
                <a class="logo" href="#">Dev<span>Jobs</span></a>
            </nav>
            
        </header>
        
        <main>
            
            <div class="loginBox">

                <div class="jobBox">

                    <section class="section">

                        <div class="container grid">

                            <form action = "../../Back-end/Controller/cadastrarFuncionario.php" method = "POST" autocomplete="off">
        
                                <img src="../images/Cadastro.png" alt="" width=200 height=100>
                                <h1>Cadastro Funcionario</h1>
                                <br>

                                <div class = "userBox">
                                    <label for = "cpf">*CPF:</label>
                                    <br>
                                    <input type = "text" name = "cpf" pattern = "\d{3}\.?\d{3}\.?\d{3}-?\d{2}" oninvalid = "this.setCustomValidity('O CPF deve ser válido!')" oninput = "this.setCustomValidity('')" required>
                                    <br>
                                </div>

                                <div class = "userBox">
                                    <label for = "nome">*Nome Completo:</label>
                                    <br>
                                    <input type = "text" name = "nome" oninvalid = "this.setCustomValidity('O nome deve ter no máximo 50 caracteres!')" oninput = "this.setCustomValidity('')" required>
                                    <br>
                                </div>

                                <div class = "userBox">
                                    <br>
                                    <label for = "email">*Email:</label>
                                    <br>
                                    <input type = "email" name = "email" oninvalid = "this.setCustomValidity('O email deve ser válido!')" oninput = "this.setCustomValidity('')" required>
                                    <br>
                                </div>

                                <div class = "userBox">
                                    <br>
                                    <label for = "senha">*Senha:</label>
                                    <br>
                                    <input type = "password" name = "senha" oninvalid = "this.setCustomValidity('A senha deve ter no mínimo 8 caracteres!')" oninput = "this.setCustomValidity('')" required>
                                    <br>
                                </div>
                            
                                <div class = "userBox">
                                    <br>
                                    <label for = "telefone">Telefone:</label>
                                    <br>
                                    <input type = "phone" name = "telefone" oninvalid = "this.setCustomValidity('O número deve ser válido!')" oninput = "this.setCustomValidity('')">
                                    <br>
                                </div>

                                <div class = "userBox">
                                    <br>
                                    <label for = "dataNasc">*Data de Nascimento:</label>
                                    <br>
                                    <input type = "date" name = "dataNasc" oninvalid = "this.setCustomValidity('A data deve ser válida!')" oninput = "this.setCustomValidity('')" required>
                                    <br>
                                </div>

                                <div class = "userBox">
                                    <br>
                                    <button class = "button" type = "submit">Cadastrar</button>
                                </div>

                                <div class = "userBox">
                                    <br>
                                    <button class = "button" type = "reset">Resetar Campos</button>
                                </div>

                                <div class = "userBox">
                                    <br>
                                    <a href = "../../index.html" class = "button" type = "button">Voltar</a>
                                </div>

                            </form>

                        </div>

                    </section>

                </div>

            </div>

        </main>

    </body>

</html>
