<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
        <header id="header">
            <nav class="container">
                <a class="logo" href="#">Dev<span>Jobs</span></a>
            </nav>
        </header>
        
        <main>
            <div class="loginBox">
                <section class="section">
                    <div class="container grid">
                        <form autocomplete="off" id="login">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <img src="../images/Cadastro.png" alt="" width=200 height=100>
                                <h2>Cadastro Contratante</h2>
                                <br>
                    </div>

            <div class="userBox">
                <label for = "cpf">*CPF:</label>
                <br>
                <input type = "text" name = "cpf" id = "" pattern = "\d{3}\.?\d{3}\.?\d{3}-?\d{2}">
                <br>
            </div>

            <div class="userBox">
                <label for="nome">*Nome Completo:</label>
                <br>
                <input type="text" name="nome" id="nome">
                <br>
            </div>

            <div class="userBox">
                <br>
                <label for="emailCadas">*Email:</label>
                <br>
                <input type="email" name="email" id="emailCadas">
                <br>
            </div>

            <div class="userBox">
                <br>
                <label for="senhaCadastro">*Senha:</label>
                <br>
                <input type="password" name="senha" id="senhaCadastro">
                <br>
            </div>

            <div class="userBox">
                <br>
                <label for="senhaConfirmacao">*Confirme sua Senha:</label>
                <br>
                <input type="password" name="senha" id="senhaConfirmacao">
                <br>
            </div>
            
            <div class="userBox">
                <br>
                <label for="telefone">Telefone</label>
                <br>
                <input type="phone" name="telefone" id="telefone">
                <br>
            </div>

            <div class="userBox">
                <br>
                <label for="dataNascimento">*Data de Nascimento:</label>
                <br>
                <input type="date" id="dataNascimento">
                <br>
            </div>

            <div class="userBox">
                <br>
                <label for = "nomeEmpresa">*Nome da sua Empresa:</label>
                <br>
                <input type = "text" name = "nomeEmpresa" id = "">
                <br>
            </div>

            <div class="userBox">
                <br>
                <label for = "cpnjEmpresa">*CNPJ da Empresa:</label>
                <br>
                <input type = "text" name = "cpnjEmpresa" id = "" pattern = "\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2}">
                <br>
            </div>

            <div class ="userBox">
                <br>
                <label for = "dataAberturaEmpresa">*Data de Abertura da Empresa:</label>
                <br>
                <input type = "date" name = "dataAberturaEmpresa" id = "">
                <br>
            </div>

            <div class ="userBox">
                <br>
                <!--Esse href nao vai pra pagina inicial nao, tem que encerrar a conexao do cara e exigir login-->
                <a href="../../index.html" class="button" type="button">Cadastrar</a>
            </div>
                        </form>
                    </div>
                </section>
            </div>
        </main>
</body>
</html>
