<!DOCTYPE html>

<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cadastre-se</title>
        <link rel="stylesheet" href="../css/estilo.css">
    </head>
    
    <body>
        <header id="header">
            <nav class="container">
                <a class="logo" href="#">Dev<span>Jobs</span></a>
            </nav>
        </header>
            
        <main>

            <div class="loginBox">

                <section class="section">

                    <div class="container grid">

                        <form action = "../../Back-end/Controller/cadastrarContratante.php" method = "POST" autocomplete="off">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <img src="../images/Cadastro.png" alt="" width=200 height=100>
                                <h2>Cadastro Contratante</h2>
                                <br>

                            <div class = "userBox">
                                <label for = "cpf">*CPF:</label>
                                <br>
                                <input type = "text" name = "cpf" pattern = "\d{3}\.?\d{3}\.?\d{3}-?\d{2}" required>
                                <br>
                            </div>

                            <div class = "userBox">
                                <label for = "nome">*Nome Completo:</label>
                                <br>
                                <input type = "text" name="nome" required>
                                <br>
                            </div>

                            <div class = "userBox">
                                <br>
                                <label for = "email">*Email:</label>
                                <br>
                                <input type = "email" name = "email" required>
                                <br>
                            </div>

                            <div class = "userBox">
                                <br>
                                <label for = "senha">*Senha:</label>
                                <br>
                                <input type = "password" name = "senha" required>
                                <br>
                            </div>
                            
                            <div class = "userBox">
                                <br>
                                <label for = "telefone">Telefone</label>
                                <br>
                                <input type = "tel" name = "telefone">
                                <br>
                            </div>

                            <div class = "userBox">
                                <br>
                                <label for = "dataNasc">*Data de Nascimento:</label>
                                <br>
                                <input type = "date" name = "dataNasc" required>
                                <br>
                            </div>

                            <div class = "userBox">
                                <br>
                                <label for = "nomeEmpresa">*Nome da sua Empresa:</label>
                                <br>
                                <input type = "text" name = "nomeEmpresa" required>
                                <br>
                            </div>

                            <div class = "userBox">
                                <br>
                                <label for = "cnpj">*CNPJ da Empresa:</label>
                                <br>
                                <input type = "text" name = "cnpj" pattern = "\d{2}\.?\d{3}\.?\d{3}/?\d{4}-?\d{2}" required>
                                <br>
                            </div>

                            <div class = "userBox">
                                <br>
                                <label for = "dataAberturaEmpresa">*Data de Abertura da Empresa:</label>
                                <br>
                                <input type = "date" name = "dataAberturaEmpresa" required>
                                <br>
                            </div>

                            <div class = "userBox">
                                <br>
                                <button class = "button" type = "submit">Cadastrar</button>
                            </div>

                            <div class = "userBox">
                                <br>
                                <button class = "button" type = "reset">Resetar Campos</button>
                            </div>

                            <div class = "userBox">
                                <br>
                                <a href = "../../index.html" class = "button" type = "button">Voltar</a>
                            </div>

                        </form>

                    </div>

                </section>

            </div>

        </main>

    </body>

</html>
