<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header id="header">
        <nav class="container">
            <a class="logo" href="#">Dev<span>Jobs</span></a>
        </nav>
    </header>
    <div class="loginBox">
        <section class="section">
            <div class="container grid">
                    <div class="buttons">
                        <p>Na DevJobs, possuimos dois tipos de usuarios: Os Funcionarios, que desejam encontrar um emprego e os Contratantes, que desejam divulgar suas vagas. Qual é você ?</p>
                        <br>
                        <a href="cadastrarFuncionario.html"  class="button" type="button">Funcionario</a>
                        <!--Botao de Contratante-->
                        <br>
                        <a href="cadastrarContratante.html"  class="button" type="button">Contratante</a>
                    </div>
            </div>
        </section>
    </div>
        <img src="../images/image-background-green.jpeg" class="background">
</main>
</body>
</html>
