<!DOCTYPE html>

<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jobs|DevJobs</title>
        <link rel="stylesheet" href="../css/estilo.css">
    </head>

    <body>
        <main>
            <header id="header">

                <nav class="container">
                    <a class="logo" href="#">Dev<span>Jobs</span></a>
                </nav>

            </header>

            <div class = "loginBox">

                <section class = "section">

                    <div class = "container grid">

                        <form>

                            <div class="buttons">
                                <br>
                                <a href = "cadastrarJob.html" class = "button" type = "button">Cadastrar Job</a>
                                <!--Botao de Contratante-->
                                <br>
                                <br>
                                <a href = "excluirJob.html" class="button" type="button">Excluir Job</a>
                                <br>
                                <br>
                                <a href = "alterarJob.html" class="button" type="button">Alterar Job</a>
                                <br>
                                <br>
                                <a href = "consultarJob.html" class="button" type="button">Consultar Job</a>
                                <br>
                                <br>
                                <a href = "paginaInicialContratante.html" class="button" type="button">Voltar</a>
                            </div>

                        </form>

                    </div>

                </section>

            </div>

            <img src="../images/image-background-green.jpeg">

        </main>

    </body>

</html>