<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs|DevJobs</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>

    <header id="header">
        <nav class="container">
            <a class="logo" href="#">Dev<span>Jobs</span></a>
        </nav>
    </header>

    
    <main>
        <div class = "divider-1"></div>
            <div class = "loginBox" id = "box1">
                <section class="section" id="home">
                    <div class="container grid">
                        <div class="image">
                            <img src="../images/logotipo-de-empresa.jpg" alt="Logotipo da empresa">
                        </div>
                        <div class="text">
                            <h2 class="title">Saúde natural para os seus cabelos</h2>
                            <p>
                                Um salão exclusivo em São Paulo, especializado em tratamentos
                                naturais.
                            </p>
                        </div>
                    </div>
                </section>
            </div>
            <div class = "loginBox" id = "box2">
                <section class="section" id="Contato">
                    <div class="container grid">
                        <div class="cards grid">
                            <div class="card">
                                <p>
                                    Faça a sua cadidatura enviando o currículo no botão abaixo!
                                </p>
                                <br />
                                <a class="button" href="#">Enviar Currículo</a>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </section>
            </div>
    </main>
</body>
</html>
