<!DOCTYPE html>

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs|DevJobs</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>

    <header id="header">

        <nav class="container">
            <a class="logo" href="#">Dev<span>Jobs</span></a>
        </nav>

    </header>

    <br><br><br><br>

    <div class = "container grid">
        <h1 style = "text-align:center;color:var(--tittle-color);font-family:'Segoe UI'">JOB’S EM ABERTO:</h1>
    </div>

    <main>
        
        <br>
        <div class="row justify-content-around">

                <div class="col-6 row-card">

                    <div class="card-job">
                        <div class="header-job">
                            <h4 class="titulo-job">Engenheiro de Dados</h4>
                        </div>

                    <div class="body-job">
                        <p class="titulo-body">Descrição:</p>
                        <div style="width: 70%">
                        <p>Vaga destinada a</p>
                    </div>

                <div class="row">
                    <div class="col-4">
                        <p class="titulo-body">Quantidade de vagas:</p>
                        <p>4</p>
                    </div>

                    <div class="col-4">
                        <p class="titulo-body">Requisitos</p>
                        <p>Python, </p>
                    </div>

                    <div class="col-4">
                        <p class="titulo-body">Benefícios:</p>
                        <p>VT+VA</p>
                    </div>

                    <div class="col-4">
                        <p class="titulo-body">Remoto?</p>
                        <p>Sim</p>
                    </div>

                    <div class="col-4">
                        <p class="titulo-body">Salário:</p>
                        <p>R$3,500</p>
                        <br>
                    </div>

                </div>
                </div>
                <a href = "aplicacaoJob.html" class = "button">APLICAR CURRICULO</a>
                <br>
                <br>

                </div>

            </div>

        </div>

        <br>
        <div class="row justify-content-around">

                <div class="col-6 row-card">

                    <div class="card-job">

                        <div class="header-job">
                            <h4 class="titulo-job">Desenvolvedor Front-End</h4>
                        </div>

                    <div class="body-job">
                        <p class="titulo-body">Descrição:</p>
                        <div style="width: 70%">
                        <p>Vaga destinada a </p>
                    </div>

                <div class="row">
                    <div class="col-4">
                        <p class="titulo-body">Quantidade de vagas:</p>
                        <p>5</p>
                    </div>

                    <div class="col-4">
                        <p class="titulo-body">Requisitos</p>
                        <p>JavaScript, Bootstrap, HTML, CSS</p>
                    </div>

                    <div class="col-4">
                        <p class="titulo-body">Benefícios:</p>
                        <p>VT+VA</p>
                    </div>

                    <div class="col-4">
                        <p class="titulo-body">Remoto?</p>
                        <p>Sim</p>
                    </div>

                    <div class="col-4">
                        <p class="titulo-body">Salário:</p>
                        <p>R$7.000</p>
                        <br>

                    </div>

                </div>
                    <a href = "aplicacaoJob.html" class = "button">APLICAR CURRICULO</a>
                    <br>
                    <br>
                </div>

            </div>

        </div>

        <br>
        <br>

        <div class = " container grid">

            <div class = "userBox">
                <a href = "paginaInicialFuncionario.html" class = "button" type = "button">Voltar</a>            
            </div>

        </div>

        <br>

    </main>

</body>

</html>