<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs|DevJobs</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <main>
        <header id="header">
            <nav class="container">
                <a class="logo" href="#">Dev<span>Jobs</span></a>
            </nav>
        </header>
        <main>
            <div class="login-box">
                <section class="section" id="about">
                    <div class="container grid">
                    <div class="image">
                        <br>
                        <img
                        src="../images/logotipo-de-empresa.jpg"
                        alt="Logotipo da empresa"
                        />
                    </div>
                    <div class="text">
                        <br>
                        <h2 class="title">Nome Vaga 1</h2>
                        <p>
                            Sobre a vaga.
                        </p>
                        <br/>
                    </div>
                    </div>
                </section>
                <div class="divider-2"></div>

                <section class="section" id="Contato">
                    <div class="container grid">
                    <div class="cards grid">
                        <div class="card">
                        <p>Fale conosco através do nosso WhatsApp!</p>
                        <br />
                        <a class="button" href="https://wa.me/37988271596?text=Olá!%20Eu%20tenho%20interesse%20no%20seu%20trabalho.">WhatsApp</a>
                        <br />
                        <br />
                        <p>Email: xxxxx@gmail.com</p>
                        <p>Endereço: Rua José Mariano - 120</p>
                        </div>
                    </div>
                    </div>
                </section>
            </div>
            <br>
            <br>
                        <div class="login-box">
                <section class="section" id="about">
                    <div class="container grid">
                    <div class="image">
                        <br>
                        <img
                        src="../images/logotipo-de-empresa.jpg"
                        alt="Logotipo da empresa"
                        />
                    </div>
                    <div class="text">
                        <br>
                        <h2 class="title">Nome Vaga</h2>
                        <p>
                            Sobre a vaga.
                        </p>
                        <br/>
                    </div>
                    </div>
                </section>
                <div class="divider-2"></div>
            
                <section class="section" id="Contato">
                    <div class="container grid">

                    <div class="cards grid">
                        <div class="card">
                        <p>Faça a sua cadidatura enviando o currículo no botão abaixo!</p>
                        <br />
                        <a class="button" href="https://wa.me/37988271596?text=Olá!%20Eu%20tenho%20interesse%20no%20seu%20trabalho.">Enviar Currículo</a>
                        <br />
                        <br />
                        <p>Email: xxxxx@gmail.com</p>
                        <p>Endereço: Rua José Mariano - 120</p>
                        </div>
                    </div>
                    </div>
                </section>
            </div>
            <img src="../images/image-background-green.jpeg" class="background">
    </main>
</body>
</html>