<!DOCTYPE html>

<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perfil|DevJobs</title>
        <link rel="stylesheet" href="../css/estilo.css">
    </head>

    <body>
        <header id="header">

            <nav class="container">
                <a class="logo" href="#">Dev<span>Jobs</span></a>
            </nav>

        </header>

        <form action = "../../Back-end/Controller/consultarUsuario.php" method = "POST" autocomplete = "off">

            <div class="loginBox">

                <section class="section">

                    <div class = "userBox">
                        <label for = "cpf">Digite seu CPF:</label>
                        <br>
                        <br>
                        <input type = "text" name = "cpf" pattern = "\d{3}\.?\d{3}\.?\d{3}-?\d{2}">
                        <br>
                    </div>
        
                    <div class = "userBox">
                        <br>
                        <button class = "button" type = "submit">Enviar</button>
                    </div>

                </section>

            </div>

        </form>

    <img src="../images/image-background-green.jpeg">

    </body>

</html>