<!DOCTYPE html>

<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página Inicial</title>
        <link rel="stylesheet" href="../css/estilo.css">
    </head>

    <body>
        <main>
            <header id="header">

                <nav class="container">
                    <a class="logo" href="#">Dev<span>Jobs</span></a>
                </nav>
                
            </header>

            <div class = "loginBox">

                <section class = "section">

                    <div class = "container grid">

                        <form>

                            <div class="buttons">
                                <h1>Home|DevJobs</h1>
                                <a href = "mostrarPerfil.html" class = "button" type = "button">Perfil</a>
                                <!--Botao de Contratante-->
                                <br>
                                <br>
                                <a href = "curriculosFuncionario.html" class="button" type="button">Currículos</a>
                                <br>
                                <br>
                                <a href = "jobsDisponiveis.html" class="button" type="button">Jobs Disponíveis</a>
                                <br>
                                <br>             
                                <a href = "aplicacoesFuncionario.html" class="button" type="button">Aplicações</a>
                                <br>
                                <br>
                                <a href = "../../index.html" class="button" type="button">Sair</a>
                            </div>

                        </form>

                    </div>

                </section>

            </div>

            <img src="../images/image-background-green.jpeg">

        </main>

    </body>

</html>
