<!DOCTYPE html>

<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perfil|DevJobs</title>
        <link rel="stylesheet" href="../css/estilo.css">
    </head>

    <body>
        <header id="header">
            <nav class="container">
                <a class="logo" href="#">Dev<span>Jobs</span></a>
            </nav>
        </header>

        <div class="loginBox">

            <section class="section">

                <div class="container grid">

                    <form autocomplete="off">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h2>Perfil</h2>
                                </div>

                        <div class="userBox">
                            <label for = "cpf">CPF:</label>
                            <br>
                            <input type = "text" name = "cpf" pattern = "\d{3}\.?\d{3}\.?\d{3}-?\d{2}" disabled>
                            <br>
                        </div>

                        <div class="userBox">
                            <label for = "nome">Nome Completo:</label>
                            <br>
                            <input type = "text" name = "nome">
                            <br>
                        </div>

                        <div class="userBox">
                            <br>
                            <label for = "email">Email:</label>
                            <br>
                            <input type = "email" name = "email">
                            <br>
                        </div>

                        <div class="userBox">
                            <br>
                            <label for = "senha">Senha:</label>
                            <br>
                            <input type = "password" name = "senha">
                            <br>
                        </div>
                        
                        <div class="userBox">
                            <br>
                            <label for = "telefone">Telefone:</label>
                            <br>
                            <input type="phone" name = "telefone">
                            <br>
                        </div>

                        <div class="userBox">
                            <br>
                            <label for = "dataNasc">Data de Nascimento:</label>
                            <br>
                            <input type = "date" name = "dataNasc" disabled>
                            <br>
                        </div>

                        <div class="userBox">
                            <br>
                            <label for = "nomeEmpresa">Nome Empresa:</label>
                            <br>
                            <input type = "text" name = "nomeEmpresa">
                            <br>
                        </div>

                        <div class="userBox">
                            <br>
                            <label for = "cnpj">CNPJ:</label>
                            <br>
                            <input type = "text" name = "cnpj" disabled>
                            <br>
                        </div>

                        <div class="userBox">
                            <br>
                            <label for = "dataAberturaEmpresa">Data de Abertura da Empresa:</label>
                            <br>
                            <input type = "date" name = "dataAberturaEmpresa" disabled>
                            <br>
                        </div>

                        <div class ="userBox">
                            <br>
                            <a href="perfilContratanteAlterar.html" target="_blank" class="button" type="button">Alterar Dados</a>
                            <br>
                            <a href="excluirContratante.html" target="_blank" class="button" type="button">Excluir Conta</a>
                        </div>

                    </form>

                </div>

            </section>

        </div>

    </body>

</html>