<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil|DevJobs</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header id="header">
        <nav class="container">
            <a class="logo" href="#">Dev<span>Jobs</span></a>
        </nav>
    </header>   
    <div class="login-box">
        <section class="section">
            <div class="container grid">
                <form autocomplete="off" id="Login">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h2>Perfil</h2>
            </div>

    <div class="user-box">
        <label for = "cpf">*CPF:</label>
        <br>
        <input type = "text" name = "cpf" id = "" pattern = "\d{3}\.?\d{3}\.?\d{3}-?\d{2}">
        <br>
    </div>

    <div class="user-box">
        <label for="Nome">*Nome Completo:</label>
        <br>
        <input type="text" name="Nome" id="Nome">
        <br>
    </div>

    <div class="user-box">
        <br>
        <label for="Email-Cadas">*Email:</label>
        <br>
        <input type="email" name="Email" id="Email-Cadas">
        <br>
    </div>

    <div class="user-box">
        <br>
        <label for="Senha-Cadas">*Senha:</label>
        <br>
        <input type="password" name="Senha" id="Senha-Cadas">
        <br>
    </div>

    <div class="user-box">
        <br>
        <label for="Senha-conf">*Confirme sua Senha:</label>
        <br>
        <input type="password" name="Senha" id="Senha-conf">
        <br>
    </div>
    
    <div class="user-box">
        <br>
        <label for="Telefone">Telefone</label>
        <br>
        <input type="phone" name="Telefone" id="Telefone">
        <br>
    </div>

    <div class="user-box">
        <br>
        <label for="Data-Nas">*Data de Nascimento:</label>
        <br>
        <input type="date" id="Data-Nas">
        <br>
    </div>

    <div class ="user-box">
        <br>
        <!--Esse href nao vai pra pagina inicial nao, tem que encerrar a conexao do cara e exigir login-->
        <a href="../../perfilContratante.html" target="_blank" class="button" type="button">Alterar Dados</a>
    </div>
                </form>
            </div>
        </section>
    </div>
</body>
</html>